[submodule "host/tools/openocd_riscv"]
	path = host/tools/openocd_riscv
	url = https://github.com/SpinalHDL/openocd_riscv
[submodule "fpga/common/hdl/network_subsystem/VeBPF"]
	path = fpga/common/hdl/network_subsystem/VeBPF
	url = https://github.com/zaidtahirbutt/VeBPF.git
